<div class="container-fluid mt-5">
  <h2>Latest Ecomony News</h2>
  <div class="row">
    <div *ngFor="let article of economyNewsDisplay" class="col-lg-3 mt-3 mb-3">
      <div class="box">
        <img
          src="{{ article.urlToImage }}"
          alt="{{ article.source.name }}"
          class="img-fluid"
          width="100%"
        />
        <h5 class="mt-2 mb-2">{{ article.title }}</h5>
        <a href="{{ article.url }}" class="btn btn-info" target="_blank"
          >Read More &rarr;</a
        >
      </div>
    </div>
  </div>
</div>
<mat-paginator
  [length]="length"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [showFirstLastButtons]="showFirstLastButtons"
  (page)="handlePageEvent($event)"
>
</mat-paginator>
